<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mkodiapp.msync">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:name="com.mkodiapp.msync.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity android:name="com.mkodiapp.msync.ui.Main" android:label="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mkodiapp.msync.ui.LogView" android:label="@string/log_view_title" />
        <activity android:name="com.mkodiapp.msync.ui.Help" android:label="@string/help_title" />
        <activity android:name="com.mkodiapp.msync.ui.TestPhoneNumbers" android:label="@string/test_phone_numbers_title" />
        <activity android:name="com.mkodiapp.msync.ui.IgnoredPhoneNumbers" android:label="@string/ignored_phone_numbers_title" />
        <activity android:name="com.mkodiapp.msync.ui.MessagingSmsInbox" android:label="@string/forward_saved_title" />
        <activity android:name="com.mkodiapp.msync.ui.MessagingMmsInbox" android:label="@string/forward_saved_title" />
        <activity android:name="com.mkodiapp.msync.ui.MessagingSentSms" android:label="@string/forward_saved_title" />
        <activity android:name="com.mkodiapp.msync.ui.PendingMessages" android:label="@string/pending_messages_title" />
        <activity android:name="com.mkodiapp.msync.ui.Prefs" android:label="@string/settings_title" />
        <activity android:name="com.mkodiapp.msync.ui.ExpansionPacks" android:label="..." />
        <receiver android:name="com.mkodiapp.msync.receiver.SmsReceiver">
            <intent-filter android:priority="101">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.OutgoingSmsReceiver">
            <intent-filter>
                <action android:name="com.mkodiapp.msync.OUTGOING_SMS" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.MessageStatusNotifier" android:exported="true">
            <intent-filter>
                <action android:name="com.mkodiapp.msync.MESSAGE_STATUS" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.NudgeReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.mkodiapp.msync.NUDGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- we don't really use message delivery notifications yet... -->

        <receiver android:name="com.mkodiapp.msync.receiver.MessageDeliveryNotifier" android:exported="true">
            <intent-filter>
                <action android:name="com.mkodiapp.msync.MESSAGE_DELIVERY" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.mkodiapp.msync.receiver.DequeueOutgoingMessageReceiver">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.OutgoingMessageTimeout">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.OutgoingMessageRetry">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.IncomingMessageRetry">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.ReenableWifiReceiver">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.StartAmqpConsumer">
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.ExpansionPackInstallReceiver">
            <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_ADDED" />
                 <action android:name="android.intent.action.PACKAGE_REMOVED" />
                 <action android:name="android.intent.action.PACKAGE_REPLACED" />
                 <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.ConnectivityChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mkodiapp.msync.receiver.DeviceStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <service android:name="com.mkodiapp.msync.service.CheckMessagingService">
        </service>

        <service android:name="com.mkodiapp.msync.service.EnabledChangedService">
        </service>

        <service android:name="com.mkodiapp.msync.service.ForegroundService">
        </service>

        <service android:name="com.mkodiapp.msync.service.AmqpConsumerService">
        </service>

        <service android:name="com.mkodiapp.msync.service.AmqpHeartbeatService">
        </service>
    </application>
</manifest>
